/*Fuente de la página*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;400;600&family=Nunito&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {

    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5080;
}


#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}


#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}


#inicio .contenido header .contenido-header nav ul a:hover {
    color: #ff5080;
}


#inicio .contenido header .contenido-header nav ul a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #ff5080;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;

}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;

}

#inicio .contenido .presentacion a:hover {
    background-color: #ff5080;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* Sección sobre mi*/

#sobre-mi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobre-mi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobre-mi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}


#sobre-mi .sobre-mi {
    margin: 0 40px;
}

#sobre-mi .sobre-mi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}


#sobre-mi .sobre-mi h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobre-mi .sobre-mi h2 span {
    color: #ff5080;
}

#sobre-mi .sobre-mi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobre-mi .sobre-mi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    text-align: justify;
  text-justify: inter-word;
}

#sobre-mi .sobre-mi .cv {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}


#sobre-mi .sobre-mi .cv:hover {
    background-color: #ff5080;
    color: #fff;
}

/*Sección servicios*/


#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-around;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {

    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-right: 5px;
    transition: .5px;

}


#servicios .fila .servicio:hover {

    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;

}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}


/*Habilidades*/

.skills-container {
    background: linear-gradient(#eb5a5c, rgba(33, 18, 16, .8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.skills-container h3 {
    color: #fff
}

.skills-container .skill {
    max-width: 600px;
    margin: 30px auto;
}

.skills-container .skill .info {
    display: flex;
    justify-content: space-between;
}

.skills-container .skill .info p,
span {
    color: #fff;
}


.skills-container .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.skills-container .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

.skills-container .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso1 2% forwards;
}

.skills-container .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso2 2% forwards;
}

.skills-container .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso3 2% forwards;
}


.skills-container .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso4 2% forwards;
}

/*Progreso de las barras*/

@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
    
}

@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
/*Sección portafolio*/
}

#portfolio {
    max-width: 1100px;
    padding: 75px 0 0px 0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}


#portfolio .fila-2 {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 350px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}


#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}


#portfolio .fila-2 .proyecto {
    max-width: 350px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}


#portfolio .fila-2 .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila-2 .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila-2 .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila-2 .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}


/*Sección contacto*/

#contacto {
    padding: 75px 15px;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}




#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;

}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/*RESPONSIVE*/

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    #sobre-mi {
        padding: 50px 0;
        display: block;
    }

    #sobre-mi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }

    #sobre-mi .contenedor-foto img {
        padding: 8px;
    }

    #sobre-mi .sobre-mi .titulo-seccion {
        text-align: center;
    }

    #sobre-mi .sobre-mi h2 {
        font-size: 25px;
        text-align: center;
    }

    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicio {
        margin: 10px auto;
    }

    /* seccion HABLIDADES */
    .skills-container {
        padding: 50px 20px;
    }

    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: block;
    }

    #portfolio .fila .proyecto {
        margin: 10px auto;
    }

    
    #portfolio .fila-2 {
        display: block;
    }

    #portfolio .fila-2 .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}